@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Delius+Swash+Caps&family=Mali:wght@400;700&display=swap");

:root
    // COLORS
    --beige: rgba(255,245,238, .8)
    --orange-gradient: rgba(253,29,29,.9) 50%, rgba(252,176,69,.9) 100%
    --dark-purple: rgba(36, 0, 84, .8)
    --light-purple: rgba(131, 102, 212, .5)

    // FONTS
    font-family: "Mali", serif

body
    margin: 0

    h2 
        text-align center